# OS Files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/*.local
frontend/stats.html

# Backend
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/db.sqlite3
backend/media/
backend/*.log

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
